<div class='container-fluid'>
    <div class='row'>
        <div class="xpositionFixed">
            <div style="padding: 0 0 18px 0;">
                <div class='col-sm-2' style="float: right;">
                    <div class="" style="width:100%;">
                        <div class="pull-right headerLogo"><a routerlink="/Home" href="/TeleUI/Home"><img
                                    style="width: 180px;" id="logo" title="משרד הבינוי והשיכון"
                                    alt="משרד הבינוי והשיכון" src="assets/logo.svg"></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class='row'>
        <div style="margin: 0 auto;" class='col-sm-8 align-items-center justify-content-center body-content'>
            <div class='row'>
                <div class="col-sm-12">
                    <div class="calculator">
                        <div>
                            <div class='col-sm-12' style="float: right;">
                                <span style="text-align: center;">
                                    <h1 style="font-size: 36px;color: #0d488e;">
                                        מחשבון לחישוב מחיר דירת<b> מחיר מטרה</b>
                                    </h1>
                                    <p style="color: red;">הפרמטרים מפורסמים בחוברת המכרז ליזמים</p>

                                </span>
                            </div>
                        </div>
                        <div class='col-sm-12' style="margin-bottom: 10px;">
                            <p-button label="הצג ערכים לדוגמה"
                                (click)="addSampleValue()"></p-button><span>&nbsp;&nbsp;&nbsp;</span>
                            <p-button label="נקה ערכים" (click)="clearLoca()"></p-button>
                        </div>
                        <small *ngIf="error" class="col-12" style="color: red;">* שדה חובה</small>
                        <div class="col-12 card flex ">
                            <h2 for="typeA">בחר סוג שיטה לחישוב ההנחה<span style="color: red;">*</span></h2>
                            <div class="flex align-items-center" style="margin: 10px 0 0;">
                                <!-- <p-dropdown (onChange)="onChange($event)" [(ngModel)]="selectedTypeCalc"
                                    [options]="TypesCalc" optionLabel="name"
                                    placeholder=" בחר שיטת חישוב "></p-dropdown> -->
                                <!-- <p-selectButton class="dirLtr selectedTypeCalc" (click)="onChange($event)" [options]="TypesCalc"
                                [(ngModel)]="selectedTypeCalc" optionLabel="name" optionValue="code"></p-selectButton> -->
                                <div class="flex flex-column gap-3">
                                    <div *ngFor="let TypeCalc of TypesCalc" class="field-checkbox">
                                        <p-radioButton title="בחר סוג שיטה לחישוב ההנחה" (click)="onChange($event)"
                                            [inputId]="TypeCalc.code" name="TypeCalc.code" [value]="TypeCalc.code"
                                            [(ngModel)]="selectedTypeCalc"></p-radioButton>
                                        <label [for]="TypeCalc.code" class="mr-2">{{ TypeCalc.name }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 card">
                            <div class="leftSize">
                                <h2> מחיר למטר כולל מע"מ<span style="color: red;">*</span></h2>
                                <small>
                                    <!-- <span *ngIf="MekademKoma!=0">מחיר למטר - לאחר תוספת או הפחתה של מקדם הקומה:
                                        <b>{{mehirLemeter
                                            + (mehirLemeter*(MekademKoma/100))}}</b><br></span> -->
                                    <!-- ערכים מותרים בין 3,000 ל- 35,000 <br> -->
                                    <span *ngIf="+selectedTypeCalc!=3"> לפי שומה נכונה לדצמבר 2020 <br></span>

                                    להזין 2 מקומות לאחר הנקודה ללא עיגול</small>
                            </div>
                            <p-inputNumber label="מחיר למטר כולל מעמ" (keyup)="onChange($event)"
                                [(ngModel)]="mehirLemeter" inputId="minmaxfraction" mode="decimal" [min]="3000"
                                [max]="35000" [minFractionDigits]="2"> </p-inputNumber>
                        </div>
                        <div class="col-12 card" *ngIf="+selectedTypeCalc==3">
                            <div class="leftSize">
                                <h2> מחיר למטר כולל מע"מ – מחושב לפי שומה עדכנית<span style="color: red;">*</span></h2>
                                <small>
                                    <!-- <span *ngIf="MekademKoma!=0">מחיר למטר - לאחר תוספת או הפחתה של מקדם הקומה:
                                        <b>{{mehirLemeter
                                            + (mehirLemeter2*(MekademKoma/100))}}</b><br></span> -->
                                    <!-- ערכים מותרים בין 3,000 ל- 35,000 <br> -->
                                    להזין 2 מקומות לאחר הנקודה ללא עיגול
                                </small>
                            </div>
                            <p-inputNumber label="מחיר למטר כולל מעמ – מחושב לפי שומה עדכנית" (keyup)="onChange($event)"
                                [(ngModel)]="mehirLemeter2" inputId="minmaxfraction" mode="decimal" [min]="3000"
                                [max]="35000" [minFractionDigits]="2"> </p-inputNumber>
                        </div>
                        <div class="col-12 card">
                            <div class="leftSize">
                                <h2> האם הבניין הוא בניין רב קומות? <span style="color: red;">*</span></h2>
                                <small>
                                    <span *ngIf="numberRavKomot<10 && numberRavKomot!=null && isRavKomot=='1'"
                                        style="color: red;">אינו רב קומות<br></span>
                                    <span *ngIf="isRavKomot=='0'">בניין רב קומות הוא בניין בן 30-10 קומות.</span>
                                    <!-- <span *ngIf="isRavKomot=='1'">ערכים מותרים בין 10 עד 30</span> -->
                                </small>
                            </div>

                            <p-selectButton label="האם בניין רב קומות?" class="dirLtr" (click)="onChange($event);"
                                [options]="stateOptions" [(ngModel)]="isRavKomot" optionLabel="label"
                                optionValue="value"></p-selectButton>

                        </div>
                        <div class="col-12 card" *ngIf="isRavKomot=='1'">
                            <div class="leftSize">
                                <h2>מספר הקומות בבניין <span style="color: red;">*</span></h2>
                                <small>
                                    <!-- ערכים מותרים בין 0 (קומת קרקע) ל- 30 -->
                                </small>
                            </div>
                            <p-inputNumber label="מספר קומות בבניין" (keyup)="onChange($event)"
                                [(ngModel)]="numberRavKomot" inputId="minmaxfraction" mode="decimal" [min]="10"
                                [max]="50" [minFractionDigits]="0">
                            </p-inputNumber>
                        </div>
                        <div class="col-12 card" *ngIf="isRavKomot=='1'">
                            <div class="leftSize">
                                <h2>מספר הקומה של הדירה <span style="color: red;">*</span></h2>
                                <small>
                                    <span *ngIf="numberRavKomot < numberKoma" style="color: red;">מספר קומה לא יכול
                                        להיות מעל מספר הקומות בבניין<br></span>
                                    <!-- יש להזין מספר בין 0 (קומת קרקע) ל-50 (מספרים שלמים בלבד) -->
                                </small>
                            </div>
                            <p-inputNumber label="מספר קומה של הדירה" (keyup)="onChange($event)"
                                [(ngModel)]="numberKoma" inputId="minmaxfraction" mode="decimal" [min]="0" [max]="50"
                                [minFractionDigits]="0">
                            </p-inputNumber>

                        </div>
                        <div class="col-12 card bg" *ngIf="MekademKoma!=0 && mehirLemeter>0 && !error">
                            <div class="leftSize">
                                <h2>מחיר למטר כולל מע"מ </h2>
                                <small>לאחר תוספת או הפחתה של אחוז מקדם הקומה <b class="flipHeb">{{MekademKoma}}%</b></small>
                            </div>
                            <input label="" class="p-inputtext p-component p-element" [disabled]="true"
                                value="{{mehirLemeter +(mehirLemeter*(MekademKoma/100)) | number:'1.2-2'}}" />.
                        </div>
                        <div class="col-12 card bg"
                            *ngIf="!error && MekademKoma!=0 && +selectedTypeCalc==3 && mehirLemeter2>0">
                            <div class="leftSize">
                                <h2>
                                    מחיר למטר כולל מע"מ - לפי שומה עדכנית
                                </h2>
                                <small>לאחר תוספת או הפחתה של אחוז מקדם הקומה <b class="flipHeb">{{MekademKoma}}%</b></small>
                            </div>
                            <input label="אחוז מקדם קומה:" class="p-inputtext p-component p-element" [disabled]="true"
                                value="{{mehirLemeter2 +
                                        (mehirLemeter2*(MekademKoma/100)) | number:'1.2-2'}}" />
                        </div>

                        <div class="col-12 card">
                            <div class="leftSize">
                                <h2>מספר החדרים בדירה<span style="color: red;">*</span></h2>
                                <small>
                                    <!-- ערכים מותרים בין 2.5 ל- 6 <br> -->
                                    השטח המרבי ל {{numberHadarim}} חדרים הוא {{shetachDiraPerHadarim}} מ"ר.<br>
                                </small>
                            </div>
                            <!-- <p-inputNumber (keyup)="onChange($event)" [(ngModel)]="numberHadarim"
                                inputId="minmaxfraction" mode="decimal" [step]="0.5" [min]="2.5" [max]="6"
                                [minFractionDigits]="1">
                            </p-inputNumber> -->
                            <p-dropdown label="מספר החדרים בדירה" (onChange)="onChange($event)"
                                [(ngModel)]="numberHadarim" [options]="lookupMisparHadarimShetach" optionLabel="hadarim"
                                optionValue="hadarim" placeholder="מספר החדרים בדירה"></p-dropdown>
                        </div>
                        <div class="col-12 card" *ngIf="numberHadarim >= 4.5">
                            <div class="leftSize">
                                <h2>האם זו דירת דופלקס<span style="color: red;">*</span></h2>
                                <small>ניתן להוסיף עד 10 מטר לשטח המרבי</small>
                            </div>
                            <p-selectButton label="האם זו דירת דופלקס" class="dirLtr" (click)="onChange($event)"
                                [options]="stateOptions" [(ngModel)]="isDuplex" optionLabel="label"
                                optionValue="value"></p-selectButton>

                        </div>
                        <div class="col-12 card">
                            <div class="leftSize">
                                <h2>שטח הדירה כולל מממ"ד במטרים <span style="color: red;">*</span></h2>
                                <small>
                                    
                                    <span *ngIf="isDuplex=='0'">השטח המרבי ל {{numberHadarim}} חדרים הוא {{shetachDiraFromLookup}} מ"ר. </span> 
                                    <span *ngIf="isDuplex=='1' && numberHadarim>=4.5">השטח המרבי לדירת דופלקס בעלת {{numberHadarim}} חדרים הוא {{shetachDiraFromLookup+10}} מ"ר.</span>
                                    <span *ngIf="harigaShetachDira>0">+ חריגה {{harigaShetachDira}} מ"ר.</span>
                                    <br>
                                    שטח דירה מרבי מוכפל ב- 100% מהמחיר למטר. מעל שטח מרבי מכפילים ב- 85% מהמחיר למטר.<br>
                                    <!-- ערכים מותרים בין 50 ל- 199 -->
                                </small>
                            </div>
                            <p-inputNumber label="שטח דירה כולל ממד במטרים" (keyup)="onChange($event)"
                                [(ngModel)]="shetachDira" inputId="minmaxfraction" mode="decimal" [min]="50" [max]="199"
                                [minFractionDigits]="2">
                            </p-inputNumber>
                        </div>

                        <!-- <div class="col-12 card bg" *ngIf="harigaShetachDira!=0">
                            <h4> גודל דירה מרבי: <b>{{shetachDiraPerHadarim}}</b> מטר, שטח חורג מעל לגודל דירה מרבי:
                                <b>{{harigaShetachDira}} מטר.</b>
                            </h4>
                            <small>שטח חורג מוכפל ב 85% משווי מחיר למטר בנייה עיקרי <b>{{newMehirLemeter}}</b></small>
                        </div> -->
                        <div class="col-12 card">
                            <div class="leftSize">
                                <h2>שטח מרפסת ו/או גינה במטרים <span style="color: red;">*</span></h2>
                                <small>
                                    עלות מטר מרפסת היא 30% ממחיר למטר.<br>
                                    מעל 30 מטר עד 60 מטר העלות מוכפלת ב- 20% <br>
                                    מעל 60 מטר עד 120 מטר העלות מוכפלת ב- 10% <br>
                                    מעל 120 מטר לא תחול גבייה
                                </small>
                            </div>
                            <p-inputNumber label="שטח מרפסת ו/או גינה במטרים " (keyup)="onChange($event)"
                                [(ngModel)]="shetachMirpesetOrGina" inputId="minmaxfraction" mode="decimal"
                                [min]="0" [minFractionDigits]="2"></p-inputNumber>
                        </div>
                        <div class="col-12 card">
                            <div class="leftSize">
                                <h2>שטח מחסן במטרים <span style="color: red;">*</span></h2>
                                <small>מוכפל ב- 40% מהמחיר למטר<br>
                                    <!-- ערכים מותרים בין 2 ל- 14 -->
                                </small>
                            </div>
                            <p-inputNumber label="שטח מחסן במטרים " (keyup)="onChange($event)"
                                [(ngModel)]="shetachMachsan" inputId="minmaxfraction" mode="decimal" [min]="2"
                                [max]="14" [minFractionDigits]="2"></p-inputNumber>
                        </div>
                        <div class="col-12 card">
                            <div class="leftSize">
                                <h2>מספר חניות<span style="color: red;">*</span></h2>
                                <small> מוכפל ב- 200% ממחיר למטר<br>
                                    <!-- ערכים מותרים 1 או 2 -->
                                </small>
                            </div>
                            <p-inputNumber label="מספר חניות" (keyup)="onChange($event)" [(ngModel)]="shetachHanayot"
                                inputId="minmaxfraction" mode="decimal" [min]="1" [max]="2"></p-inputNumber>
                        </div>
                        <div *ngIf="!error">
                            <div class="col-12 card bg">
                                <h2>סה"כ עלות מרכיבי הדירה כולל מע"מ נכון לפי שומה דצמבר 2020, <b>לפני הנחה</b>:
                                </h2>
                                <input label="סהכ עלות מרכיבי הדירה כולל מעמ נכון לפי שומה דצמבר 2020, לפני הנחה"
                                    class="p-inputtext p-component p-element" [disabled]="true"
                                    value=" {{sumAllMarkivim | number:'1.2-2'}}" />
                            </div>
                            <!-- <div class="col-12 card bg">
                                <h2>הנחה בשיעור <span><b>{{hanachaBeshiur}}%</b></span> של כלל מרכיבי הדירה:</h2>
                                <input class="p-inputtext p-component" [disabled]="true" value="{{sumAllMarkivim *
                                    hanachaBeshiur/100 | number:'1.2-2'}}" />
                            </div> -->
                            <div class="col-12 card bg">
                                <h2>סה"כ עלות מרכיבי הדירה <b> לאחר <span>{{hanachaBeshiur}}%</span> הנחה</b>:</h2>
                                <input label="סהכ עלות מרכיבי הדירה לאחר הנחה" class="p-inputtext p-component"
                                    [disabled]="true"
                                    value=" {{sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100) | number:'1.2-2'}}" />
                            </div>
                        </div>


                        <div class="col-12 card" *ngIf="+selectedTypeCalc==2">
                            <div class="leftSize">
                                <h2> מקדם הצמדה קבוע <span style="color: red;">*</span></h2>
                                <small>מהטבלה המפורטת בסעיף 1 במכרז</small>
                            </div>
                            <div class="flex flex-column gap-3" style="margin: 10px 0 0;">
                                <div class="field-checkbox">
                                    <p-radioButton title="מקדם הצמדה קבוע " [inputId]="mekademHatzmada"
                                        name="mekademHatzmada103" [value]="10.3" (click)="onChange($event)"
                                        [(ngModel)]="mekademHatzmada"></p-radioButton>
                                    <label [for]="mekademHatzmada103" class="mr-2">10.3%</label>
                                </div>
                                <div class="field-checkbox">
                                    <p-radioButton title="מקדם הצמדה קבוע " [inputId]="mekademHatzmada"
                                        name="mekademHatzmada34" [value]="3.4" (click)="onChange($event)"
                                        [(ngModel)]="mekademHatzmada"></p-radioButton>
                                    <label [for]="mekademHatzmada34" class="mr-2">3.4%</label>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-12 card bg" *ngIf="+selectedTypeCalc==2 && !error">
                            <h2> מקדם הצמדה  <small>({{mekademHatzmada}}%)</small> מעלות מרכיבי הדירה: </h2>
                            <input class="p-inputtext p-component" [disabled]="true" value=" {{ sumAllMarkivim *
                                    (mekademHatzmada/100) | number:'1.2-2'}}" />
                        </div> -->
                        <div class="col-12 card bg" *ngIf="+selectedTypeCalc==2 && !error">
                            <h2>סה"כ עלות מרכיבי הדירה + מקדם הצמדה מעלות מרכיבי הדירה:</h2>
                            <input label="סהכ עלות מרכיבי הדירה + מקדם הצמדה מעלות מרכיבי הדירה:"
                                class="p-inputtext p-component p-element" [disabled]="true" value=" {{ sumAllMarkivim
                                    * (1+mekademHatzmada/100) | number:'1.2-2'}}" />
                        </div>


                        <div class="col-12 card">
                            <div class="leftSize">
                                <h2>גובה ההנחה לצורך בדיקת הגבלת מחיר יח"ד בהשוואה למחיר יח"ד מעודכן<span
                                        style="color: red;">*</span></h2>
                                <small></small>
                            </div>
                            <div class="flex flex-column gap-3" style="margin: 10px 0 0;">
                                <div class="field-checkbox" *ngIf="+selectedTypeCalc==1">
                                    <p-radioButton
                                        title="גובה ההנחה לצורך בדיקת הגבלת מחיר יחד בהשוואה למחיר יחד מעודכן"
                                        [inputId]="govaHanacha300000" name="govaHanacha300000" [value]="300000"
                                        (click)="onChange($event)" [(ngModel)]="govaHanacha"></p-radioButton>
                                    <label [for]="govaHanacha300000" class="mr-2">300,000</label>
                                </div>
                                <div class="field-checkbox" *ngIf="+selectedTypeCalc==1">
                                    <p-radioButton
                                        title="גובה ההנחה לצורך בדיקת הגבלת מחיר יחד בהשוואה למחיר יחד מעודכן"
                                        [inputId]="govaHanacha310278" name="govaHanacha310278" [value]="310278"
                                        (click)="onChange($event)" [(ngModel)]="govaHanacha"></p-radioButton>
                                    <label [for]="govaHanacha310278" class="mr-2">310,278</label>
                                </div>
                                <div class="field-checkbox" *ngIf="+selectedTypeCalc>=2">
                                    <p-radioButton
                                        title="גובה ההנחה לצורך בדיקת הגבלת מחיר יחד בהשוואה למחיר יחד מעודכן"
                                        [inputId]="govaHanacha500000" name="govaHanacha500000" [value]="500000"
                                        (click)="onChange($event)" [(ngModel)]="govaHanacha"></p-radioButton>
                                    <label [for]="govaHanacha500000" class="mr-2">500,000</label>
                                </div>
                                <div class="field-checkbox" *ngIf="+selectedTypeCalc>2">
                                    <p-radioButton
                                        title="גובה ההנחה לצורך בדיקת הגבלת מחיר יחד בהשוואה למחיר יחד מעודכן"
                                        [inputId]="govaHanacha600000" name="govaHanacha" [value]="600000"
                                        (click)="onChange($event)" [(ngModel)]="govaHanacha"></p-radioButton>
                                    <label [for]="govaHanacha600000" class="mr-2">600,000</label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!error && +selectedTypeCalc==3">
                            <div class="col-12 card bg">
                                <h2>סה"כ עלות מרכיבי הדירה כולל מע"מ, <b>לפי שומה עדכנית</b>:
                                </h2>
                                <input label="סהכ עלות מרכיבי הדירה כולל מעמ, לפי שומה עדכנית"
                                    class="p-inputtext p-component p-element" [disabled]="true"
                                    value=" {{sumAllMarkivim2 | number:'1.2-2'}}" />
                            </div>

                        </div>
                        <div class="col-12 card bg" *ngIf="+selectedTypeCalc==2 && !error">
                            <div class="leftSize">
                                <h2>ההפרש בין מחיר דירה עם מקדם הצמדה {{mekademHatzmada}}%<br>
                                    למחיר דירה לאחר הנחה מרבית {{hanachaBeshiur}}% </h2>
                            </div>
                            <input label="ההפרש בין מחיר דירה עם מקדם הצמדה למחיר דירה לאחר הנחה מרבית "
                                class="p-inputtext p-component p-element" [disabled]="true"
                                value=" {{(sumAllMarkivim * (1+mekademHatzmada/100)) - (sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100))  | number:'1.2-2'}}" />
                        </div>
                        <div class="col-12 card bg" *ngIf="+selectedTypeCalc==3 && !error">
                            <div class="leftSize">
                                <h2> סה"כ עלות מרכיבי הדירה כולל מע"מ, לפי שומה עדכנית לאחר הפחתה של גובה הנחה מרבית
                                </h2>
                            </div>
                            <input
                                label=" סהכ עלות מרכיבי הדירה כולל מעמ, לפי שומה עדכנית לאחר הפחתה של גובה הנחה מרבית "
                                class="p-inputtext p-component p-element" [disabled]="true"
                                value=" {{(sumAllMarkivim2) - (govaHanacha)  | number:'1.2-2'}}" />
                        </div>

                    </div>
                </div>

                <div class="col-sm-12 calculator " *ngIf="!error">
                    <div>
                        <div *ngIf="+selectedTypeCalc>0">

                            <div class="col-12 card" style="margin-top: 20px;">
                                <div class="leftSize">
                                    <h2> מחיר דירה סופי מחושב:</h2>

                                    <div *ngIf="selectedTypeCalc==1">
                                        <small
                                            *ngIf="(sumAllMarkivim -govaHanacha)>(sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100)) ">ע"פ
                                            מגבלה <b>{{+govaHanacha | number:'1.2-2'}}</b></small>
                                        <small
                                            *ngIf="(sumAllMarkivim -govaHanacha)<=(sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100)) ">ע"פ
                                            הנחה <b>{{hanachaBeshiur}}%</b></small>
                                    </div>

                                    <div *ngIf="selectedTypeCalc==2">
                                        <small>עפ שיטח חישוב מקדם או הנחה כשגובה הנחה {{+govaHanacha | number}}</small>
                                    </div>

                                    <div *ngIf="selectedTypeCalc==3 && sumAllMarkivim2>0 ">
                                        <small
                                            *ngIf="(sumAllMarkivim2 -govaHanacha)>(sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100)) ">ע"פ
                                            מגבלה <b>{{+govaHanacha | number:'1.2-2'}}</b></small>
                                        <small
                                            *ngIf="(sumAllMarkivim2 -govaHanacha)<=(sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100)) ">ע"פ
                                            הנחה <b>{{hanachaBeshiur}}%</b></small>
                                    </div>
                                </div>

                                <!-- עפ שיטח חישוב הנחה או מגבלה -->
                                <!-- לאחר שיש שומה עדכנית מחשבים עלות דירה פחות מגבלה ובודקים מה יותר גדול הנחה או מגבלה -->

                                <div *ngIf="selectedTypeCalc==1 ">
                                    <!-- ע"פ מגבלה  -->
                                    <input label="מחיר דירה סופי מחושב"
                                        class="p-inputtext p-component p-element clacSum clacWin c" [disabled]="true"
                                        *ngIf="(sumAllMarkivim -govaHanacha)>(sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100)) "
                                        value="{{(sumAllMarkivim -govaHanacha) | number:'1.2-2'}}" />
                                    <!-- ע"פ הנחה  -->
                                    <input label="מחיר דירה סופי מחושב"
                                        class="p-inputtext p-component p-element clacSum  clacWin d " [disabled]="true"
                                        *ngIf="(sumAllMarkivim -govaHanacha)<(sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100)) "
                                        value="{{(sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100)) | number:'1.2-2'}}" />
                                </div>
                                <div *ngIf="selectedTypeCalc==2 ">
                                    <!-- עפ שיטח חישוב מקדם או הנחה -->
                                    <input label="מחיר דירה סופי מחושב"
                                        class="p-inputtext p-component p-element clacSum clacWin a" [disabled]="true"
                                        *ngIf="((sumAllMarkivim * (1+mekademHatzmada/100)) - (sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100))) > +govaHanacha "
                                        value="{{ (sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100)) +govaHanacha | number:'1.2-2'}}" />
                                    <input label="מחיר דירה סופי מחושב"
                                        class="p-inputtext p-component p-element clacSum clacWin a" [disabled]="true"
                                        *ngIf="((sumAllMarkivim * (1+mekademHatzmada/100)) - (sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100))) <= +govaHanacha "
                                        value="{{ (sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100))  | number:'1.2-2'}}" />
                                </div>
                                <div *ngIf="selectedTypeCalc==3 && sumAllMarkivim2>0 ">
                                    <div
                                    *ngIf="(sumAllMarkivim2 - govaHanacha)>sumAllMarkivim  ">
                                    <input label="מחיר דירה סופי מחושב"
                                        class="p-inputtext p-component p-element clacSum clacWin ba"
                                        [disabled]="true"
                                        value="{{sumAllMarkivim | number:'1.2-2'}}" />
                                </div>
                                    <div
                                        *ngIf="(sumAllMarkivim2 - govaHanacha)>(sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100)) && 
                                        (sumAllMarkivim2 - govaHanacha)<sumAllMarkivim ">
                                        <input label="מחיר דירה סופי מחושב"
                                            class="p-inputtext p-component p-element clacSum clacWin ba"
                                            [disabled]="true"
                                            value="{{sumAllMarkivim2 - govaHanacha | number:'1.2-2'}}" />
                                    </div>
                                    <div
                                        *ngIf="(sumAllMarkivim2 - govaHanacha)<=(sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100))">
                                        <input label="מחיר דירה סופי מחושב"
                                            class="p-inputtext p-component p-element clacSum clacWin bb"
                                            [disabled]="true"
                                            value="{{sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100) | number:'1.2-2'}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-sm-12" style="margin-top: 10px;">
                    <div class="col-sm-12">
                        <small>
                            <b>הערות:</b>
                            <br>
                            <span style="color: red;">על מחיר הדירה הסופי - יש להוסיף את מדד תשומות הבנייה ממועד קבלת
                                היתר
                                הבנייה, המחושב בעת החתימה על חוזה המכר עם היזם (הקבלן).</span>
                            <br>
                            במקרים שבהם המחשבון אינו מאפשר הזנת נתונים התואמים את מאפייני הדירה או שלדעתכם החישוב אינו
                            תואם
                            את
                            הוראות חוברת המכרז ליזמים או לקבלנים, יש לפנות לחברת הבקרה.
                            <br>
                            <b>כתב ויתור מחשבון מחיר דירה:</b>
                            המחשבון נבנה על ידי משרד הבינוי והשיכון. אין למשרד אחריות בקשר לאופן הפעלתו של המחשבון או
                            המידע
                            שהוא
                            מפיק או לשינויים שנעשו בו על ידי המשתמש או על ידי צד שלישי.
                            אין להסתמך על המידע המוצג במחשבון לצורך ביצוע עסקה או פעולה כלשהי והאחריות כתוצאה מהשימוש
                            במחשבון
                            היא של המשתמש ושלו בלבד.
                            המחשבון מתבסס על הנתונים שהוקלדו ומטרתו לשמש כלי עזר בלבד.
                            תוצאת החישוב מתבססת על נתונים שהוקלדו על ידך ואינה מהווה התחייבות של משרד הבינוי והשיכון
                            למחיר
                            הדירה.
                            המידע המוצג במחשבון אינו יכול לשמש עילה לתביעה כלשהי או אישור לזכויות כלשהן.
                            במקרה של סתירה או אי התאמה באופן החישוב במחשבון לבין הוראות חוברת המכרז ליזמים/קבלנים
                            <b>יגברו הוראות חוברת המכרז</b>.
                            <br>

                        </small>
                    </div>
                    <div class="col-sm-12" style="text-align: center;">
                        <span>מספר גרסה 1.0</span>
                    </div>
                </div>

                <div style="display: none;">
                    <div style="text-align: left; ">ערכי חישוב</div>
                    <div style="direction: ltr;">
                        selectedTypeCalc:{{selectedTypeCalc | json}}<br>
                        mehirLemeter:{{ mehirLemeter}}<br>
                        isRavKomot:{{ isRavKomot}}<br>
                        numberRavKomot:{{ numberRavKomot}}<br>
                        numberKoma:{{ numberKoma}}<br>
                        numberHadarim:{{ numberHadarim}}<br>
                        isDuplex:{{ isDuplex}}<br>
                        shetachDira:{{ shetachDira}}<br>
                        shetachMirpesetOrGina:{{ shetachMirpesetOrGina}}<br>
                        shetachMachsan:{{ shetachMachsan}}<br>
                        shetachHanayot:{{ shetachHanayot}}<br>
                        mekademHatzmada:{{ mekademHatzmada}}<br>
                        govaHanacha:{{ govaHanacha}}<br>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
