<div class='container-fluid'>
    <div class='row'>
        <div class="xpositionFixed">
            <div style="padding: 0 0 18px 0;">
                <div class='col-sm-2' style="float: right;">
                    <div class="" style="width:100%;">
                        <div class="pull-right headerLogo"><a routerlink="/Home" href="/TeleUI/Home"><img
                                    style="width: 260px;" id="logo" title="לוגו משרד השיכון" src="assets/logo.png"></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class='row'>
        <div style="margin: 0 auto;" class='col-sm-8 align-items-center justify-content-center body-content'>
            <div class='row'>
                <div class="col-sm-12">
                    <div class="">
                        <div>
                            <div class='col-sm-12' style="float: right;">
                                <span style="text-align: center;">
                                    <h1 style="font-size: 40px;color: #0d488e;">
                                        פרמטרים
                                        לחישוב מחיר דירת <br>"מחיר מטרה"
                                    </h1>
                                    <h4 style="color: red;">הפרמטרים מפורסמים בחוברת המכרז ליזמים</h4>

                                </span>
                            </div>
                        </div>
                        <div class='col-sm-12'>
                            <p-button label="הצג ערכים לדוגמה"
                                (click)="addSampleValue()"></p-button><span>&nbsp;&nbsp;&nbsp;</span>
                            <p-button label="נקה נתונים שמורים" (click)="clearLoca()"></p-button>
                        </div>
                        <small *ngIf="error" class="col-12" style="color: red;">* שדה חובה</small>
                        <div class="col-12 card flex ">
                            <h2 for="typeA"> סוג שיטה לחישוב ההנחה<span style="color: red;">*</span></h2>
                            <div class="flex align-items-center">
                                <p-dropdown (onChange)="onChange($event)" [(ngModel)]="selectedTypeCalc"
                                    [options]="TypesCalc" optionLabel="name"
                                    placeholder=" בחר שיטת חישוב "></p-dropdown>
                            </div>
                            <small></small>
                        </div>
                        <div class="col-12 card">
                            <h2> מחיר למטר כולל מע"מ<span style="color: red;">*</span></h2>
                            <p-inputNumber (keyup)="onChange($event)" [(ngModel)]="mehirLemeter"
                                inputId="minmaxfraction" mode="decimal" [min]="3000" [max]="35000"
                                [minFractionDigits]="2"> </p-inputNumber>

                            <small>
                                <span *ngIf="MekademKoma!=0">מחיר למטר - לאחר תוספת או הפחתה של מקדם הקומה:
                                    <b>{{mehirLemeter
                                        + (mehirLemeter*(MekademKoma/100))}}</b><br></span>
                                ערכים מותרים בין 3,000 ל- 35,000 <br>
                                <span *ngIf="selectedTypeCalc.code!=3"> מחושב לפי שומה נכונה לדצמבר 2020 ומתעדכנת כול
                                    שנה<br></span>

                                להזין 2 מקומות לאחר הנקודה ללא עיגול</small>
                        </div>
                        <div class="col-12 card" *ngIf="selectedTypeCalc.code==3">
                            <h2> מחיר למטר כולל מע"מ – מחושב לפי שומה עדכנית<span style="color: red;">*</span></h2>
                            <p-inputNumber (keyup)="onChange($event)" [(ngModel)]="mehirLemeter2"
                                inputId="minmaxfraction" mode="decimal" [min]="3000" [max]="35000"
                                [minFractionDigits]="2"> </p-inputNumber>

                            <small>
                                <span *ngIf="MekademKoma!=0">מחיר למטר - לאחר תוספת או הפחתה של מקדם הקומה:
                                    <b>{{mehirLemeter
                                        + (mehirLemeter2*(MekademKoma/100))}}</b><br></span>
                                ערכים מותרים בין 3,000 ל- 35,000 <br>
                                להזין 2 מקומות לאחר הנקודה ללא עיגול<br>
                                לצורך בדיקת ההגבלה על המחיר למטר לפי שומה עדכנית
                            </small>
                        </div>
                        <div class="col-12 card">
                            <h2> האם בניין רב קומות? <span style="color: red;">*</span></h2>
                            <p-selectButton class="dirLtr" (ngModelChange)="onChange($event)" [options]="stateOptions"
                                [(ngModel)]="isRavKomot" optionLabel="label" optionValue="value"></p-selectButton>
                            <small>
                                <!-- <span *ngIf="RavKomot<9" style="color: red;">אינו רב קומות</span> <br> -->
                                נחשב רב קומות מקומה 9 שהיא מעל 29 מטרים מהכניסה
                            </small>
                        </div>
                        <div class="col-12 card" *ngIf="isRavKomot=='1'">
                            <h2>מספר קומות בבניין<span style="color: red;">*</span></h2>
                            <p-inputNumber (keyup)="onChange($event)" [(ngModel)]="numberRavKomot"
                                inputId="minmaxfraction" mode="decimal" [min]="9" [max]="50" [minFractionDigits]="0">
                            </p-inputNumber>
                            <small>ערכים מותרים מעל 8, מקסימום 50 , מספרים שלמים בלבד <br> </small>
                        </div>
                        <div class="col-12 card" *ngIf="isRavKomot=='1'">
                            <h2>מספר קומה של הדירה<span style="color: red;">*</span></h2>
                            <p-inputNumber (keyup)="onChange($event)" [(ngModel)]="numberKoma" inputId="minmaxfraction"
                                mode="decimal" [min]="0" [max]="50" [minFractionDigits]="0">
                            </p-inputNumber>
                            <small>
                                <span *ngIf="numberRavKomot < numberKoma" style="color: red;">מספר קומה לא יכול
                                    להיות מעל מספר הקומות בבניין<br></span>
                                ערכים מותרים בין 0 (קומת קרקע) ל- 50 , מספרים שלמים בלבד </small>
                        </div>
                        <div class="col-12 card bg" *ngIf="MekademKoma!=0 && mehirLemeter>0 && !error">
                            <h4>אחוז מקדם קומה: <b>{{MekademKoma}}%.</b> לאחר תוספת או הפחתה של מקדם הקומה <b> המחיר
                                    למטר: {{mehirLemeter +
                                    (mehirLemeter*(MekademKoma/100))}}.</b> <b
                                    *ngIf="MekademKoma!=0 && selectedTypeCalc.code==3 && mehirLemeter2>0"> ולפי שומה
                                    עדכנית: {{mehirLemeter2 +
                                    (mehirLemeter2*(MekademKoma/100))}}.</b></h4>
                        </div>

                        <div class="col-12 card" *ngIf="isRavKomot=='1'">
                            <h2>מספר חדרים בדירה<span style="color: red;">*</span></h2>
                            <p-inputNumber (keyup)="onChange($event)" [(ngModel)]="numberHadarim"
                                inputId="minmaxfraction" mode="decimal" [step]="0.5" [min]="2.5" [max]="6"
                                [minFractionDigits]="1">
                            </p-inputNumber>
                            <small>ערכים מותרים בין 2.5 ל- 6 </small>
                        </div>
                        <div class="col-12 card" *ngIf="numberHadarim>=4.5">
                            <h2>האם זו דירת דופלקס<span style="color: red;">*</span></h2>
                            <p-selectButton class="dirLtr" (ngModelChange)="onChange($event)" [options]="stateOptions"
                                [(ngModel)]="isDuplex" optionLabel="label" optionValue="value"></p-selectButton>
                            <small></small>
                        </div>
                        <div class="col-12 card">
                            <h2>שטח דירה כולל מממ"ד במטרים <span style="color: red;">*</span></h2>
                            <p-inputNumber (keyup)="onChange($event)" [(ngModel)]="shetachDira" inputId="minmaxfraction"
                                mode="decimal" [min]="50" [max]="199" [minFractionDigits]="0">
                            </p-inputNumber>
                            <small>
                                <span *ngIf="isDuplex && numberHadarim>=4.5">לא ניתן לחרוג מעל 10 מטר מהגודל המירבי
                                    ({{shetachDiraPerHadarim}}) ל ({{numberHadarim}}) חדרים <br>
                                    מוכפל ב- 100% מחיר למטר<br>
                                    ערכים מותרים בין 50 ל- 199
                                </span>
                            </small>
                        </div>

                        <div class="col-12 card bg" *ngIf="harigaShetachDira!=0">
                            <h4> גודל דירה מירבי: {{shetachDiraPerHadarim}} מטר, שטח חורג מעל לגודל דירה מירבי:
                                {{harigaShetachDira}} מטר.</h4>
                            <small>שטח חורג מוכפל ב 85% משווי מחיר למטר בנייה עיקרי {{newMehirLemeter}}</small>
                        </div>
                        <div class="col-12 card">
                            <h2>שטח מרפסת ו/או גינה במטרים <span style="color: red;">*</span></h2>
                            <p-inputNumber (keyup)="onChange($event)" [(ngModel)]="shetachMirpesetOrGina"
                                inputId="minmaxfraction" mode="decimal" [min]="0"></p-inputNumber>
                            <small>
                                עלות מטר מרפסת 30% ממחיר למטר.<br>
                                מעל 30 מטר עד 60 מטר מוכפל ב- 20% <br>
                                מעל 60 מטר עד 120 מטר מוכפל ב- 10% <br>
                                מעל 120 מטר לא תחול גבייה
                            </small>
                        </div>
                        <div class="col-12 card">
                            <h2>שטח מחסן במטרים <span style="color: red;">*</span></h2>
                            <p-inputNumber (keyup)="onChange($event)" [(ngModel)]="shetachMachsan"
                                inputId="minmaxfraction" mode="decimal" [min]="2" [max]="14"></p-inputNumber>
                            <small>מוכפל ב- 40% ממחיר למטר<br><br>
                                ערכים מותרים בין 2 ל- 14
                            </small>
                        </div>
                        <div class="col-12 card">
                            <h2>מספר חניות<span style="color: red;">*</span></h2>
                            <p-inputNumber (keyup)="onChange($event)" [(ngModel)]="shetachHanayot"
                                inputId="minmaxfraction" mode="decimal" [min]="1" [max]="2"></p-inputNumber>
                            <small> מוכפל ב- 200% ממחיר למטר<br><br>
                                ערכים מותרים 1 או 2
                            </small>
                        </div>
                        <div *ngIf="!error">
                            <div class="col-12 card bg">
                                <h4>סה"כ עלות מרכיבי הדירה - {{sumAllMarkivim | number:'1.2-2'}} כולל מע"מ - נכון לפי
                                    שומה
                                    דצמבר 2020, <b>לפני הנחה</b></h4>
                            </div>
                            <div class="col-12 card bg">
                                <h4>הנחה בשיעור <span>{{hanachaBeshiur}}%</span> של כלל מרכיבי הדירה: {{sumAllMarkivim *
                                    hanachaBeshiur/100 | number:'1.2-2'}}</h4>
                            </div>
                            <div class="col-12 card bg">
                                <h4>סה"כ עלות מרכיבי הדירה - <b> לאחר <span>{{hanachaBeshiur}}%</span> הנחה</b>:
                                    {{sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100) | number:'1.2-2'}}</h4>
                            </div>
                        </div>
                        <div class="col-12 card" *ngIf="selectedTypeCalc.code==2">
                            <h2> מקדם הצמדה קבוע <span style="color: red;">*</span></h2>
                            <div class="flex align-items-center">
                                <p-radioButton [inputId]="mekademHatzmada" name="mekademHatzmada103" [value]="10.3"
                                    (ngModelChange)="onChange($event)" [(ngModel)]="mekademHatzmada"></p-radioButton>
                                <label [for]="mekademHatzmada103" class="ml-2">10.3%</label>
                            </div>
                            <div class="flex align-items-center">
                                <p-radioButton [inputId]="mekademHatzmada" name="mekademHatzmada34" [value]="3.4"
                                    (ngModelChange)="onChange($event)" [(ngModel)]="mekademHatzmada"></p-radioButton>
                                <label [for]="mekademHatzmada34" class="ml-2">3.4%</label>
                            </div>
                            <small>מהטבלה המפורטת בסעיף 1 במכרז</small>
                        </div>

                        <div class="col-12 card bg" *ngIf="selectedTypeCalc.code==2 && !error">
                            <h4> מקדם הצמדה ({{mekademHatzmada}}%) מעלות מרכיבי הדירה: {{ sumAllMarkivim *
                                (mekademHatzmada/100) | number:'1.2-2'}}<br>
                                סה"כ עלות מרכיבי הדירה + מקדם הצמדה מעלות מרכיבי הדירה: {{ sumAllMarkivim
                                * (1+mekademHatzmada/100) | number:'1.2-2'}}</h4>
                        </div>


                        <div class="col-12 card">
                            <h2>גובה ההנחה לצורך בדיקת הגבלת מחיר יח"ד בהשוואה למחיר יח"ד מעודכן<span
                                    style="color: red;">*</span></h2>
                            <div class="flex align-items-center" *ngIf="selectedTypeCalc.code==1">
                                <p-radioButton [inputId]="govaHanacha" name="govaHanacha300000" [value]="300000"
                                    (ngModelChange)="onChange($event)" [(ngModel)]="govaHanacha"></p-radioButton>
                                <label [for]="govaHanacha300000" class="ml-2">300,000</label>
                            </div>
                            <div class="flex align-items-center" *ngIf="selectedTypeCalc.code==1">
                                <p-radioButton [inputId]="govaHanacha" name="govaHanacha310278" [value]="310270"
                                    (onClick)="onChange($event)" [(ngModel)]="govaHanacha"></p-radioButton>
                                <label [for]="govaHanacha310278" class="ml-2">310,278</label>
                            </div>
                            <div class="flex align-items-center" *ngIf="selectedTypeCalc.code>=2">
                                <p-radioButton [inputId]="govaHanacha" name="govaHanacha500000" [value]="500000"
                                    (ngModelChange)="onChange($event)" [(ngModel)]="govaHanacha"></p-radioButton>
                                <label [for]="govaHanacha500000" class="ml-2">500,000</label>
                            </div>
                            <div class="flex align-items-center" *ngIf="selectedTypeCalc.code>2">
                                <p-radioButton [inputId]="govaHanacha600000" name="govaHanacha" [value]="600000"
                                    (ngModelChange)="onChange($event)" [(ngModel)]="govaHanacha"></p-radioButton>
                                <label [for]="govaHanacha600000" class="ml-2">600,000</label>
                            </div>
                            <small> ערכים בהתאם לערך שהוזן בסוג החישוב </small>
                        </div>
                        <div class="col-12 card bg" *ngIf="selectedTypeCalc.code>=2 && !error">
                            <h4>גובה ההנחה לצורך בדיקת הגבלת מחיר {{+govaHanacha | number}}<br>
                                סה"כ עלות מרכיבי הדירה פחות סכום הגבלת גובה ההנחה: <span>{{ sumAllMarkivim - govaHanacha
                                    | number:'1.2-2'}}</span><br>
                                <small>גובה הנחה מרבית מפורסמת בחוברת המכרז ובאתר ההרשמה להגרלות. הנחה מרבית נקבעת ע"י
                                    מועצת מקרקעי ישראל</small>
                            </h4>
                        </div>



                    </div>
                </div>
                <div class="col-sm-12" *ngIf="selectedTypeCalc.code>0">
                    <div>
                        <div class="col-12  bg clacSum" *ngIf="selectedTypeCalc.code==2 && !error">
                            <h5>ההפרש בין מחיר דירה עם {{hanachaBeshiur}}% למחיר דירה עם מגבלה {{+govaHanacha |
                                number}}: <b>{{ (sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100)) -
                                    (sumAllMarkivim -
                                    govaHanacha) | number:'1.2-2'}}</b></h5>
                            <p-divider></p-divider>
                            <h5>ההפרש בין מחיר דירה לאחר חישוב מקדם הצמדה {{mekademHatzmada}} למחיר דירה לאחר הנחה
                                מרבית {{hanachaBeshiur}}%: <b>{{ (sumAllMarkivim *
                                    (1+mekademHatzmada/100))-(sumAllMarkivim - (sumAllMarkivim *
                                    hanachaBeshiur/100)) | number:'1.2-2'}}</b></h5>
                            <small>על מנת שההפרש יהיה גדול מ- 500,000 לדירה ממוצעת,<br>
                                המחיר למטר כולל מע"מ צריך להיות גבוהה מ- 50,535₪</small>
                            <small>ומחיר הדירה צריך להיות בגובה של 5,882,354 כולל מע"מ לפני הנחה או לפני הכפלה
                                במקדם</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" *ngIf="!error">
                    <div>
                        <div *ngIf="selectedTypeCalc.code>0">

                            <div class="col-12  clacSum">
                                <h2> מחיר דירה סופי</h2>
                                עפ שיטח חישוב מקדם או הנחה
                                <h5
                                    *ngIf="((sumAllMarkivim * (1+mekademHatzmada/100))-(sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100)))> +govaHanacha">
                                    {{sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100)+((sumAllMarkivim *
                                    (1+mekademHatzmada/100))-(sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100))) |
                                    number:'1.2-2'}}</h5>
                                <h5
                                    *ngIf="((sumAllMarkivim * (1+mekademHatzmada/100))-(sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100)))<= +govaHanacha">
                                    {{sumAllMarkivim -(sumAllMarkivim * hanachaBeshiur/100) | number:'1.2-2'}}</h5>
                                עפ שיטח חישוב הנחה או מגבלה
                                <h5
                                    *ngIf="(sumAllMarkivim -govaHanacha)>(sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100)) ">
                                    {{(sumAllMarkivim -govaHanacha) | number:'1.2-2'}}</h5>
                                <h5
                                    *ngIf="(sumAllMarkivim -govaHanacha)<(sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100)) ">
                                    {{(sumAllMarkivim - (sumAllMarkivim * hanachaBeshiur/100)) | number:'1.2-2'}}</h5>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-sm-12" style="margin-top: 10px;">
                    <div class="col-sm-12">
                        <small>
                            <b>הערות:</b>
                            <br>
                            <span style="color: red;">על מחיר הדירה סופי - יש להוסיף מדד תשומות הבניה ממועד קבלת היתר
                                בנייה,
                                מחושב בעת חתימה על חוזה המכר עם היזם (קבלן)</span>
                            <br>
                            במקרים בהם המחשבון אינו מאפשר הזנת נתונים התואמים את מאפייני הדירה או שלדעתכם החישוב אינו
                            תואם
                            את
                            הוראות חוברת המכרז ליזמים/קבלנים, יש לפנות לחברת הבקרה.
                            <br>
                            <b>כתב ויתור מחשבון מחיר דירה:</b>
                            המחשבון נבנה ע"י משרד הבינוי והשיכון, אין למשרד אחריות בקשר לאופן הפעלתו של המחשבון או המידע
                            שהוא
                            מפיק או לשינויים שנעשו בו על ידי המשתמש או על ידי צד שלישי.
                            אין להסתמך על המידע המוצג במחשבון לצורך ביצוע עסקה או פעולה כלשהי והאחריות כתוצאה מהשימוש
                            במחשבון
                            היא של המשתמש ושלו בלבד.
                            המחשבון מתבסס על הנתונים שהוקלדו ומטרתו לשמש כלי עזר בלבד.
                            תוצאת החישוב מתבססת על נתונים שהוקלדו על ידך ואינה מהווה התחייבות של משרד הבינוי והשיכון
                            למחיר
                            הדירה.
                            המידע המוצג במחשבון אינו יכול לשמש עילה לתביעה כלשהי או אישור לזכויות כלשהן.
                            במקרה של סתירה או אי התאמה באופן החישוב במחשבון לבין הוראות בחוברת המכרז ליזמים/קבלנים
                            הרלוונטית
                            <b>יגברו הוראות חוברת המכרז</b>.
                            <br>

                        </small>
                    </div>
                    <div class="col-sm-12" style="text-align: center;">
                        <span>מספר גרסה 1.0</span>
                    </div>
                </div>

                <div style="display: none;">
                    <div style="text-align: left; ">ערכי חישוב</div>
                    <div style="direction: ltr;">
                        selectedTypeCalc:{{selectedTypeCalc | json}}<br>
                        mehirLemeter:{{ mehirLemeter}}<br>
                        isRavKomot:{{ isRavKomot}}<br>
                        numberRavKomot:{{ numberRavKomot}}<br>
                        numberKoma:{{ numberKoma}}<br>
                        numberHadarim:{{ numberHadarim}}<br>
                        isDuplex:{{ isDuplex}}<br>
                        shetachDira:{{ shetachDira}}<br>
                        shetachMirpesetOrGina:{{ shetachMirpesetOrGina}}<br>
                        shetachMachsan:{{ shetachMachsan}}<br>
                        shetachHanayot:{{ shetachHanayot}}<br>
                        mekademHatzmada:{{ mekademHatzmada}}<br>
                        govaHanacha:{{ govaHanacha}}<br>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>