/* You can add global styles to this file, and also import other style files */


html {  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: #206C9C;
  /*color: #285c7e;*/
}

h3 p, h4 p, h5 p {
  margin-block: auto;
  line-height:1.5 !important;
}
/*.fa-step-forward:before  {
  content: "\F048"
}*/
.pi-step-forward:before {
  content: "\E916"
}

/*.fa-step-backward:before {
  content: "\F051"
}*/
.pi-step-backward:before {
  content: "\E917"
}

/*.fa-backward:before {
  content: "\F04E"
}*/
.pi-caret-left:before {
  content: "\E905"
}

/*.fa-forward:before {
  content: "\F04A"
}*/
.pi-caret-right:before {
  content: "\E904"
}

/*--------table style-----------*/
.ui-table table {
  table-layout: inherit;
  /*width:inherit;*/
}

.tblClass{
  
}
.list-header-style {
  width: 25%; /*2.25em;*/
  /*white-space: nowrap;*/
}
.list-rows-style {
  width: 25%; 
}

.char-header-style {
  width: 6%; 
  /*white-space: nowrap;*/
}
.char-rows-style {
  width: 6%;  
}
.number-s-header-style {
  width: 50px;  
}
.date-header-style {
  width: 100px;
}
.string5-header-style {
  width: 5%;
  /*white-space: nowrap;*/
}
.string10-header-style {
  width: 7%; 
  /*white-space: nowrap;*/
}
.string10-rows-style {
  width: 7%; 
}

.string15-header-style {
  width: 9%;
  /*white-space: nowrap;*/
}
.string15-rows-style {
  width: 9%;
}

.string20-header-style {
  width: 12%; 
  /*white-space: nowrap;*/
}
.string20-rows-style {
  width: 12%;  
}

.string25-header-style {
  width: 16%;
  /*white-space: nowrap;*/
}

.string25-rows-style {
  width: 16%;
}

.string30-header-style {
  width: 20%; /*2.25em;*/
  /*white-space: nowrap;*/
}
.string30-rows-style {
  width: 20%; /*2.25em;*/  
}

.string40-header-style {
  width: 25%; /*2.25em;*/
  /*white-space: nowrap;*/
}
.string40-rows-style {
  width: 25%; /*2.25em;*/ 
}

.date-header-style {
  width: 7%;
}
.date-rows-style {
  width: 7%; /*2.25em;*/
}

.bold-rows-style {
  font-weight: bold !important;
}

.map-header-style {
  width: 6%; /* 1.25em;*/
  text-align: center !important;
}
.map-rows-style {
  width: 6%;
  text-align: center !important;
}

.desc-header-style {
  width: 5%; /* 1.25em;*/
}
.desc-rows-style {
  width: 5%; /* 1.25em;*/
}

.child-header-style {
  width: 5%; 
}
.child-rows-style {
  width: 5%;
  text-align: center;
}

.link5-header-style {
  width: 5%
}
.link5-rows-style {
  width: 5%
}

.link-header-style {
  width: 10%
}
.link-rows-style {
  width: 10%
}

.link15-header-style {
  width: 15%
}

.link15-rows-style {
  width: 15%
}

.link20-header-style {
  width: 20%
}
.link20-rows-style {
  width: 20%
}

.file-header-style {
  width: 5%;
}
.file-rows-style {
  width: 5%;
}
.pdf-header-style {
  width: 5%;
}
.pdf-rows-style {
  width: 5%;
}
.excel-header-style {
  width: 5%;
}
.excel-rows-style {
  width: 5%;
}
.word-header-style {
  width: 5%;
}
.word-rows-style {
  width: 5%;
}
.zip-header-style {
  width: 5%;
}
.zip-rows-style {
  width: 5%;
}

.tel-header-style {
  width: 10%; /* 1.25em;*/
}
.tel-rows-style {
  width: 10%; /* 1.25em;*/
}

.site-header-style {
  width: 5%;  
}
.site-rows-style {
  width: 5%;
  text-align: center;
}

.email-header-style {
  width: 10%; /* 1.25em;*/
}
.email-rows-style {
  width: 10%; /* 1.25em;*/
}

.money-header-style {
  width: 5%; /* 1.25em;*/
}
.money-rows-style {
  width: 5%; /* 1.25em;*/
}

.updatedatetitle-style{
  font-weight:bold;
}
/*.tdClass {
  text-align: right !important;
}
.indented {
  text-indent: 9999px;
}
.fieldData {
  padding: .4em;
  min-width: 30%;
  display: inline-block;
  margin: -.4em 1em -.4em -.4em;
  font-weight:bold;
}*/
/*td span:last-child        
  text-align: justify;
 
}*/
@media screen and (max-width: 40em) {
  .ui-table-responsive .ui-table-tbody > tr > td .ui-column-title {
    vertical-align: top;
    width: 60px;
    margin-right: 0px;
    min-width:35%;
  }

  .ui-table-responsive .ui-table-tbody > tr > td .column-value {
    display: inline-block;
    max-width: 65%;
  }

  .ui-table-responsive .ui-table-tbody > tr > td {
    text-align: right !important;
  }
  .ui-table .ui-table-tbody > tr:nth-child(2n) {
    background-color: #f2f2fd;
  }
}


.column-title-child {
  color: #1A5274;  
}

/*Chrome bug fix*/
@media screen and (min-width: 40.063em) {  
  .ui-table .ui-table-tbody > tr > td {
    border: inherit;
    box-shadow:inset 0 0 0 1px #d5d5d5;
    background-color: inherit;    
  }  
}
/* Remove   * border: 1px solid #d5d5d5;     */
/* Replace  * box-shadow: 0 0 0 1px #d5d5d5;  To  border: inherit;  */
/*******************/
  

  /*.ui-column-title span:last-child {
  float: left;
  text-align: justify;
}*/
  .fa-map-marker {
    font-size: 1.3em;
  }

  .fa-file-pdf-o {
    font-size: 1.15em;
  }

  .font-normal {
    font-weight: normal;
  }
  /*Hide gov.il search field*/
  @media (max-width: 991px) {
    .visible-xs {
      display: none !important;
    }

    .navbar-toggle {
      margin-right: 5px;
    }
  }
  /*Hide gov.il lang field*/
  .lang-pick-end {
    display: none !important;
  }
  /*.flexbox.flexboxlegacy .menu-flex-container {
  justify-content:right;
}*/
  /* Fix Scrollbar */
  .ui-table-scrollable-header-box {
    margin-right: inherit !important;
    margin-left: 17px !important;
  }




  .notvalid-char {
    border: 2px solid red !important;
    background-position: 7px 7px;
    background-repeat: no-repeat;
  }

  .grouping-field-style {
    font-weight: bold;
    color: #2D5D7C;
  }
/*custom filter width */

.c-filter-tavhinim .ui-dropdown {
  min-width: 13.7em;
}
.c-filter-table {
  text-align: right;
}
.c-filter {
  padding-right: 3px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  /*  text-align:right;*/
}

.c-filter .ui-dropdown .ui-dropdown-clear-icon {
  right: inherit;
  left: 2em;
  /*padding-inline-start: 0.5em;*/
}

.c-filter .ui-dropdown .ui-dropdown-label {
    padding-right: 0.5em;
}

.c-filter .ui-placeholder {
  font-size: 19px !important;
  color: #495057;
  opacity: 0.9 !important;
}
.c-filter .ui-dropdown:focus-within {
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

@media screen and (max-width: 40em) {
  .c-filter .ui-dropdown {
    margin-bottom: 0.2em;
  }
}
  /* rtl DropDown*/
  .ui-dropdown .ui-dropdown-label {
    padding-right: initial;
  }

  .ui-dropdown-panel .ui-dropdown-item {
    text-align: right;
  }

  .ui-dropdown .ui-dropdown-trigger {
    border-top: none;
    border-right: inherit;
    border-bottom: none;
    cursor: pointer;
    width: 1.5em;
    height: 100%;
    position: absolute;
    right: auto;
    top: 0;
    padding: 0 .25em;
    left: 14px;
    border-left: none;
    margin-left: -15px;
  }
  /****************/


  .lblErrorInputClass {
  }

  .form-label-group {
    position: relative;
    margin-bottom: 15px;
  }

    /*.form-label-group > input,*/
    .form-label-group > label {
      padding: var(--input-padding-y) var(--input-padding-x);
    }

    .form-label-group > label {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      margin-bottom: 0; /* Override default `<label>` margin */
      line-height: 1.5;
      color: red;
      border: 1px solid transparent;
      border-radius: .25rem;
      transition: all .1s ease-in-out;
    }

  .input-label-group {
    position: relative;
    margin-bottom: 15px;
  }

    .input-label-group > label {
      padding: var(--input-padding-y) var(--input-padding-x);
    }

    .input-label-group > label {
      position: absolute;
      display: none;
      width: 100%;
      margin-bottom: 0; /* Override default `<label>` margin */
      line-height: 1.5;
      color: red;
      border: 1px solid transparent;
      border-radius: .25rem;
      transition: all .1s ease-in-out;
    }

  .lblErrorInputClass {
  }

  .ui-state-highlight {
    /*font-family: inherit;*/
  }

  .ui-float-label > label {
    left: inherit;
    right: 0.25em;
    color: #59595A;
  }

  .param-input {
    border-radius: 4px;
    font-size: 17px;
    text-align: right;
    direction: rtl;
  }

  .input-panel {
    padding-right: 0;
  }

  .btnSearchClass .ui-button, .btnDownloadClass {
    border: 1px solid #008f51;
    background: #008f51 !important;
  }

    .btnSearchClass .ui-button:hover, .btnDownloadClass:hover {
      border: 1px solid #005805;
      background: #005805 !important;
    }

  .btn-space {
    margin-left: 15px;
  }

  .ui-messages-error {
    background-color: #f8b7bd;
    border: 0 none;
    color: #212121;
  }

  .ui-messages-success {
    background-color: #b7d8b7;
    border: 0 none;
    color: #212121;
  }

  .ui-messages-warn {
    background-color: #ffe399;
    border: 0 none;
    color: #212121;
  }

  .ui-messages-icon {
    display: none !important;
  }

  .div-params {
    padding-top: 5px;
    /*padding-bottom:10px;*/
  }
  /*disabled arrows from input type number*/
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
  /*.contracts-panel .ui-panel-titlebar {
  padding: .2em;
}*/

  .contracts-panel .ui-panel-titlebar.ui-widget-header {
    /*background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);*/
    background: linear-gradient(to bottom, #628cb1 0%, #285c7e 100%);
    color: white;
    font-weight: bold;
    font-size: larger;
  }

  .contracts-panel .ui-panel-titlebar {
    padding: .2em .75em;
  }

  .bakasha-panel {
    height: 200px;
  }

  a, a:focus {
    text-decoration: none !important;
  }

  /*input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}*/
  /*input[type="number"] {
  -moz-appearance: textfield;
}*/

  .form-control {
    font-size: 19px !important;
    /* height: 32px;*/
  }

    .form-control::placeholder {
      color: #495057 !important;
      font-size: 19px;
      opacity: 0.9 !important;
    }

  .inputLabelClass {
    vertical-align: top;
    width: 60px;
    margin-right: 0px;
    min-width: 45%;
    font-weight: 600;
    padding-left: 5px;
  }

  .inputValueClass {
    display: inline-block;
    max-width: 55%;
    font-weight: 400;
  }

  .ui-panel-titlebar.ui-widget-header {
    /*color: rgb(255, 255, 255);*/
    /*font-weight: 700;*/
    font-size: larger;
    /*background: linear-gradient(rgb(98, 140, 177) 0px, rgb(40, 92, 126) 100%);*/
  }

  .ui-panel .ui-panel-titlebar {
    padding-top: 0.3em;
    /*padding-right: 0.75em;*/
    padding-bottom: 0.3em;
    /*padding-left: 0.75em;*/
  }

  /* change Radio button color*/

  /* COMMON RADIO AND CHECKBOX STYLES  */
  .rbContainer label {
    cursor: pointer;
  }

  .rbCheckmark {
    /* Hide original inputs */
    -webkit-appearance: none;
    -moz-appearance: none;
    /*appearance: none;*/
    position: absolute;
    margin-right: 2px !important;
    margin-left: 0px !important;
    margin-top: 4px !important;
    margin-bottom: 0px !important;
    /*-moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: none !important;*/
  }

    .rbCheckmark:checked {
      outline: none !important;
    }

  .rbCheckmark, .lblCheckmark:before {
    height: 14px;
    width: 14px;
    margin-right: 2px;
    content: " ";
    display: inline-block;
    vertical-align: baseline;
    border: 1px solid #777;
  }

    .rbCheckmark:checked + .lblCheckmark:before {
      background: #285c7e;
      /*-moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: none !important;*/
    }


  /* CUSTOM RADIO AND CHECKBOX STYLES */
  .rbCheckmark, .lblCheckmark:before {
    border-radius: 50%;
  }

  .rbLabelText {
    padding-right: 5px !important;
  }

  .rbCheckmark:checked ~ .lblCheckmark span.rbLabelText {
    color: #285c7e;
  }

  /* 19.01.2021 */

  .h4, h4 {
    font-size: 1.3rem !important;
  }

  .h5, h5 {
    font-size: 1.1rem !important;
  }

  .logo-title {
    display: inline-block;
  }

  .zoom-05 {
    zoom: 0.5;
  }
  /*
.zoom-05 {
-ms-transform: scale(0.5); 
-webkit-transform: scale(0.5); 
transform: scale(0.5);
}

*/

  .xs-mr-10 {
    margin-right: 10px;
  }

  .xs-mb-10 {
    margin-bottom: 10px;
  }

  .ui-widget, .ui-widget button, .ui-widget input, .ui-widget select, .ui-widget textarea {
    /*font-family: Arial,Helvetica,sans-serif;*/
    font-size: 1em;
  }


  .reforma-medium {
    /*font-family: ReformaMedium;*/
  }

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: none;
    color: #285c7e;
    font-size: 19px;  
    /*text-align: center;*/
  }

  .ui-accordion .ui-accordion-header {
    background: #f6f7f9;
    border-top: 1px solid #d9d9d9;
    display: block;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    min-height: 0;
  }
  /*.ui-rtl .ui-accordion .ui-accordion-toggle-icon.pi-caret-right:before {
  content: "\e904";
}*/
  .pi-chevron-right:before {
    content: "\e904";
  }
  /******************************************/

  /*align to right accordion header - chart*/
  .chart-accord-style .ui-state-default {
    text-align: right;
  }

  .ui-tabview .ui-tabview-nav > li.ui-state-default {
    background: #bdd3e1;
  }

  .ui-tabview .ui-tabview-nav > li.ui-state-active {
    background: #ebedf0;
    /*font-family: Arial;*/
  }

  .xs-mt-15 {
    margin-top: 15px;
  }

  .xs-mt-20 {
    margin-top: 20px;
  }

  .xs-mt-25 {
    margin-top: 25px;
  }

  .xs-mb-10 {
    margin-bottom: 10px;
  }

  .xs-mb-30 {
    margin-bottom: 30px;
  }

  .dark-blue-txt {
    color: #263c4a;
  }

  .font-hd-4 {
    /*font-family: Arial;*/
    font-weight: normal;
  }

  .flexbox.flexboxlegacy .flex-horizontal-img-title {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .form-label-2-c {
    margin-bottom: 0;
    line-height: initial;
  }

  .ui-widget {
    font-family: inherit;
  }

    .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
      font-family: inherit;
    }


  .p-component {
    font-family: Rubik,sans-serif;
  }

  .lg-mb-30 {
    margin-bottom: 30px;
  }

  .lg-mb-45 {
    margin-bottom: 45px;
  }

  .description-txt {
    font-size: 20px;
    font-family: Rubik,sans-serif;
  }

  .xs-pl-10 {
    padding-left: 10px;
  }
  /*

@media (min-width: 992px) {
  .h3 {
    font-size: 32px;
    line-height: 1;
  }
}
@media (min-width: 220px) {
  .h3 {
    font-size: 29px;
  }
}
.dark-blue-txt {
  color: #263c4a;
}

*/
  /*@media only screen and (orientation:portrait) {
  body {
    height: 100vw;
    transform: rotate(90deg);
  }
}*/
  /*input:checked {
  outline: none !important;
}*/
  /*.form-control {
  border: solid 1px #285c7e !important;
  border-radius: 7px !important;
  height: 32px !important;
  background-color: #fff !important;
  padding: 0 10px 0 0 !important;
  text-align:right !important;
}*/
  /*.triangle-isosceles {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  color: #000;
  background: #f3961c;*/ /* default background for browsers without gradient support */
  /* css3 */
  /*background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background: -moz-linear-gradient(#f9d835, #f3961c);
  background: -o-linear-gradient(#f9d835, #f3961c);
  background: linear-gradient(#f9d835, #f3961c);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}*/
  /*.triangle-isosceles.top {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f3961c), to(#f9d835));
    background: -moz-linear-gradient(#f3961c, #f9d835);
    background: -o-linear-gradient(#f3961c, #f9d835);
    background: linear-gradient(#f3961c, #f9d835);
  }*/
  /*.triangle-isosceles:after {
    content: "";
    position: absolute;
    bottom: -15px; 
    left: 50px; 
    border-width: 15px 15px 0; 
    border-style: solid;
    border-color: #f3961c transparent;*/
  /* reduce the damage in FF3.0 */
  /*display: block;
    width: 0;
  }*/
  /*.triangle-isosceles.top:after {
    top: -15px; 
    right: 50px; 
    bottom: auto;
    left: auto;
    border-width: 0 15px 15px; 
    border-color: #f3961c transparent;
  }*/
