
html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
small {
    min-width: 233px;
}
.dirLtr{
    direction: ltr;
}

.card {
    background: var(--surface-card);
    padding: 3px 22px;
    border-radius: 1px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bg{
    background-color: aquamarine;
 }
 .h2, h2 {
    max-width: 299px;
 }
.clacWin{
    background-color: aquamarine;
}
.clacSum{
    background-color: rgb(116, 218, 96);
}
.p-dropdown-label:focus{
    outline: none !important;
}

@media only screen and (max-device-width: 850px){ 
    .card {
        flex-direction: column;
    }
}

@import "assets/GovilCoreStyleRtl.css";
@import "assets/styles.css";
